body {
    margin: 0;
    background-color: rgb(16, 16, 16);
}

.flex-container {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-centre-horizontal {
    justify-content: center;
}

.flex-centre-vertical {
    align-items: center;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-bottom {
    align-items: flex-end;
}

.thumbnail {
    width: 5vw;
    height: 5vw;
}

.selected-image {
    width: 70vw;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.cover-screen {
    width: 100vw;
    height: 100vh;
}

button {
    margin: 10px;
    width: 100px;
    height: 100px;
    font-size: 50px;
    border-radius: 50px;
    border-width: 0;
    background-color: rgba(188, 188, 188, 0.6);
}

button:hover {
    background-color: rgba(240, 240, 240, 1.0);
}

.image-container {
    width: 100vw;
    height: 100vh;
}